<h2>ユーザー情報</h2>
<table class="table">
  <tr>
    <th>ユーザー名</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>プロフィール</th>
    <th><%= user.profile %></th>
  </tr>
  <tr>
    <th>いいね一覧</th>
  </tr>
  <tr>
   <th>フォロー一覧</th>
  </tr>
</table>