<h2>ユーザー情報</h2>
  <%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tr>
    <th>ユーザー名</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>プロフィール</th>
    <th><%= user.profile %></th>
  </tr>

</table>